<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于我</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css"th:href="@{/css/me.css}">
</head>
<body>
<!--导航 -->
<nav th:replace="_fragments :: menu(5)"class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide "><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide "><i class="clone icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
              <div class="ui icon inverted transparent input">
                <input type="text" placeholder="search...">
                <i class="search link icon"></i>

              </div>

            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!-- 中间内容-->
<div class="m-container m-padded-tb-big">
  <div class="ui container">
      <div class="ui stackable grid">
          <div class="eleven wide column">
              <div class="ui segment">
                  <img src="http://unsplash.it/800/600?image=1005"alt=""class="ui rounded image">
              </div>

          </div>
      <div class="five wide column">
            <div class="ui top attached segment">
                <div class="ui header">关于我</div>
            </div>
            <div class="ui attached segment">
                <p>作为一个喜欢足球的程序员————</p>
                <p>热爱学习，善于思考，在学习路上勇往直前！</p>

            </div>
            <div class="ui attached segment">
                <div class="ui orange basic left pointing label">编程</div>
                <div class="ui orange basic left pointing label">写作</div>
                <div class="ui orange basic left pointing label">思考</div>
                <div class="ui orange basic left pointing label">运动</div>
            </div>
            <div class="ui attached segment">
                <div class="ui orange basic left pointing label m-margin-tb-tiny">java</div>
                <div class="ui orange basic left pointing label m-margin-tb-tiny">mysql</div>
                <div class="ui orange basic left pointing label m-margin-tb-tiny">javascript</div>
                <div class="ui orange basic left pointing label m-margin-tb-tiny">html</div>
            </div>
            <div class="ui bottom attached segment">
                <a href="https://github.com/shenhuang-neusoft/blog"class="ui circular icon button"><i class="github icon"></i></a>
                <a href="#"class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                <a href="#"class="ui qq circular icon button"data-content="1652213184"data-position="bottom center"><i class="qq icon"></i></a>
            </div>
            <div class="ui wechat-qr flowing popup transition hidden">
                <img src="../static/images/weixing.jpg" alt="" class="ui rounded image" style="width:110px">
            </div>
      </div>
  </div>
  </div>
</div>
<br>
<br>
<!-- 底部内容-->
<footer th:replace="_fragments :: footer"class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list m-opacity-mini">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list m-opacity-mini">
                    <a href="#" class="item">邮箱:1652213184@qq.com</a>
                    <a href="#" class="item">手机号：15089766096</a>
                    <a href="#" class="item">微信：sh15089766096</a>
                </div>

            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p class="m-opacity-mini">这是我的个人博客，我会在这里分享我的一些学习心得，希望每一个来到这里的人都能够有所收获.....</p>

            </div>

        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">welcome to my blog!</p>
    </div>

</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>

<script src="../static/lib/prism/prism.js"></script>
<script src="../static/lib/tocbot/tocbot.min.js"></script>
<script src="../static/lib/qrcode/qrcode.min.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.wechat').popup({
        popup:$('.wechat-qr'),
        on:'hover',
        position:'bottom center'
    });
    $('.qq').popup();
</script>
</body>
</html>